{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="ftco-blocks-cover-1">
    <div class=" overlay" style="background-image: url('{% static 'images/hero_1.jpg' %}' );
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;">
  
    </div>
  </div>
  
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
{% endblock %}
