{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="ftco-blocks-cover-1">
    <div class=" overlay" style="background-image: url('{% static 'images/hero_1.jpg' %}' );
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;">
  
    </div>
  </div>


  <div class="limiter " style="margin-top: -240px !important;">
    <div class="container-login100 ">
  
      <div class="wrap-login100"
        style="background-image : url('{% static 'Login/images/carlogin2.jpg' %}'); background-repeat   : no-repeat; background-position : center;background-size     : inherit;">
        

        <span class="login100-form-title p-b-34 p-t-2 mb-2">
            {% trans "Password Reset" %}
        </span>
        <div class=" p-t-0 ">
                <div class="txt1 alert alert-light " >
                    {% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}
                </div>
        </div>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}


      </div>
    </div>
  </div>


    
  
    
{% endblock %}
