{% extends "account/base.html" %}
{% load static %}


{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="ftco-blocks-cover-1">
    <div class=" overlay" style="background-image: url('{% static 'images/hero_1.jpg' %}' );
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 350px;">

    </div>
</div>




<div class="limiter " style="margin-top: -240px !important;">
    <div class="container-login100 ">

        <div class="wrap-login100"
            style="background-image : url('{% static 'Login/images/carlogin2.jpg' %}'); background-repeat   : no-repeat; background-position : center;background-size     : inherit;">

            <form class="login100-form validate-form " method="POST" action="{{action_url}}>
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}


                {% if token_fail %}

                <span class="login100-form-title p-b-34 p-t-2 mb-2">
                    {% trans "Bad Token" %}
                </span>
                {% else %}
                <span class="login100-form-title p-b-34 p-t-2 mb-2">
                    {% trans "Change Password" %}
                </span>
                {% endif %}

                {% if form.errors %}
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-info">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-info">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}


                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}

                <div class=" p-t-0">
                    <p class="txt1" >
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.
                    </p>
                </div>
                {% else %}

                {% if form %}

                <div class="wrap-input100 validate-input" data-validate="Enter Password">
                    <input class="input100" id="id_password1" type="password" name="password1" placeholder="New Password">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Enter Password">
                    <input class="input100" id="id_password2" type="password" name="password2" placeholder="New Password (again)">
                    <span class="focus-input100" data-placeholder="&#xf191;"></span>
                </div>

                <br>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" name="action">
                        {% trans "Change Password" %}
                    </button>
                </div>
            </form>
            {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}








